@page
@model CovidVaccineEligibility.Pages.VaccineEligibilityModel
@{
    ViewData["Title"] = "Vaccine Eligibility Calculator";
}


<h4>Vaccine Eligibility Calculator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" id="form1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VaccineEligibility.Name" class="control-label"></label>
                <input asp-for="VaccineEligibility.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="VaccineEligibility.Age" class="control-label"></label>
                <input asp-for="VaccineEligibility.Age" class="form-control" />
                <span asp-validation-for="VaccineEligibility.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VaccineEligibility.Gender" class="control-label"></label>
                @Html.DropDownListFor(m => m.VaccineEligibility.Gender,
                 Html.GetEnumSelectList(typeof(Gender)),
                "Select Gender")
                <span asp-validation-for="VaccineEligibility.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
            @if (ViewData.ModelState.IsValid)
            {
                <div class="form-group">
                    @Html.DisplayFor(model => model.VaccineEligibility.Vaccine, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
